.head-page{
    display: flex;
    justify-content: center;
    width: auto;
    height: 100px;
    padding: 10px;
    margin:0;
    background-color: rgb(130, 209, 235);
    background-image: url("pokemon\ logo.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;       
}
.blank1{
    width: auto;
    background-color: rgb(130, 209, 235);
    height: 100px;
    background-image: url("TopTrumpsLogo.webp");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;       
}
.main-board{
    display: flex;
    justify-content:space-evenly;
    width: auto;
    height: 700px;
    padding: 10px;
    margin:0;  
    background-image: url("background1.png");
    background-size:contain
}
/* score card, player card, cpu card main box */
.player{
    width: 500px;
    height: 700px;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("blank\ pokemon\ card.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
} 
.hide-stats{
    display: none;
}
.computer{
    width: 500px;
    height: 700px;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("blank\ pokemon\ card.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.score-card{
    width: 7.5%;
    height: 75%;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
/* score card, player card, cpu card main box */
/* score card insides*/
.score-card-l1{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.score-card-l2{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.score-card-l2-output{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.score-card-l3{
    padding-top: 100px;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.score-card-l3-output{
    padding-top: 100px;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.player-name{
    width: 50%;
    height: 100%;
    border:2px solid black;
    display: flex;
    justify-content: center;
}
.player-name-output{
    width: 50%;
    height: 100%;
    border:2px solid black;
    display: flex;
    justify-content: center;
}
.cpu-player{
    width: 50%;
    height: 100%;
    border:2px solid black;
    display: flex;
    justify-content: center;
}
.cpu-player-output{
    width: 50%;
    height: 100%;
    border:2px solid black;
    display: flex;
    justify-content: center;
}
.player-card{
    width: 50%;
    height: 100%;
    border:2px solid black;
    display: flex;
    justify-content: center;
}
.player-card-output{
    width: 50%;
    height: 100%;
    border:2px solid black;
    display: flex;
    justify-content: center;
}
.cpu-card{
    width: 50%;
    height: 100%;
border:2px solid black;
display: flex;
justify-content: center;
}
.cpu-card-output{
    width: 50%;
    height: 100%;
    border:2px solid black;
    display: flex;
    justify-content: center;
}
.player-turn{
    width: 50%;
    height: 100%;
    border:2px solid black;
    display: flex;
    justify-content: center;
}
.player-turn-output{
    width: 50%;
    height: 100%;
    border:2px solid black; 
    display: flex;
    justify-content: center;
}
.cpu-turn{
    width: 50%;
    height: 100%;
    border:2px solid black;
    display: flex;
    justify-content: center;
}
.cpu-turn-output{
    width: 50%;
    height: 100%;
    border:2px solid black;
    display: flex;
    justify-content: center;
}
/* score card insides*/
/* player stats */
#player-pic{
    width: 90%;
    height: 80%;
    padding-top: 25%;
}
.player-card-pic{
    width: 50%;
    height: 50%;

}
.player-hp{

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 300px;
}
.player-att{

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 300px;
}
.player-def{

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 300px;
}
.player-SP-att{

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 300px;
}
.player-SP-def{

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 300px;
}
.player-spd{

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 300px;
}
/* player stats */
/* computer card */
#computer-pic{
    width: 90%;
    height: 80%;
    padding-top: 25%;
}
.computer-card-pic{
    width: 50%;
    height: 50%;
}
.computer-hp{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
}
.computer-att{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
}
.computer-def{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
}
.computer-SP-att{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
}
.computer-SP-def{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
}
.computer-spd{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
}
/* computer card */